
# Python
__pycache__/
*.pyc

# Virtual environment
MRI-Brain-Tumor-Classification_venv/
venv/
venv_old/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Custom & Logs
backend/logs/
backend/saved_models/
backend/results/
backend/uploads/
logs/
results/
saved_models/
test_images/